{% extends 'main.html' %}

{% block content %}

<h1>Home</h1>
<div>
    <a href="{% url 'create-room' %}">Createroom</a>
    <div>
        {% for room in rooms %}        
        <a href="{% url 'update-room' room.id %}">Update</a>
        <a href="{% url 'delete-room' room.id%}">Delete</a>
        <span>@{{room.host.username}}</span>
        <h3>
            <a href="/room/{{room.id}}">{{room.id}}---------{{room.name}}</a>
        </h3> 
        <small>{{room.topic.name}}</small>
        <hr>

        {% endfor %}
    </div>
</div>

{% endblock content %}